@tailwind base;
@tailwind components;
@tailwind utilities;

.currency-wrap{
  position:relative;
}

.currency-code{
  position:absolute;
  left:8px;
  top:12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}